* {
    scroll-behavior: smooth;
}

body     {
    text-align: center;
    margin: 0;
    font-family:  'Poppins', sans-serif;
}

/* Navbar */

nav {
    position: relative;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0; 
    font-family: 'Poppins', sans-serif;;
    height: 100px;
    background-color: #DAE1E7; 
    padding: 0 3%;  
}

nav .logo {
    float: left;
    width: 30%;
    height:100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #142850;
}

nav .logo .nav-title a{
    text-align: center;
    align-items: center;
    margin: 0 30px;
    text-decoration: none;
    color: #142850;
}



nav .links {
    display: flex;
    float: right;
    padding: 0;
    margin: 0;
    left: 3%;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}

nav .links a:hover {
    background-color: #FFC93C;
    transform: translateZ(-20px);
    transform: translateX(20px);
}



nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #142850;
    /* background-color: rgba(0, 0, 0, .1); */
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #142850;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px){
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transform: all .5% ease-in-out ;
        justify-content: space-evenly;
    }

    nav .links a{
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translate(10px) rotate(225deg);
        
    }
     nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translate(10px) rotate(-225deg);
        
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
        
    }

  
}


/* Section 1: Home */



.clock {
    width: 8%;
    position: relative;
    right: 500px;
    top: 20px;
}

.top-container  h1:hover  {
    color: #FFC93C;
    position: relative;
}

.heading-font{
    color: white;
    padding-bottom: 0;
    font-size: 3rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.hat{
    width: 8%;
    position: relative;
    left: 300px;
    top: 50px;
    z-index: 0;
}

.heading-describe {
    margin-bottom: auto;
    padding-bottom: 3.5rem;
    color: #DAE1E7;
}


.vector1 {
    position: relative;
    display: flex;
    margin: auto;
    width: 30%;
}

p {
    color: white;
    
}

.top-container{
    position: relative;
    padding-top: 20px;
    background-color: #142850;
    margin: 0;


 
}



/* Section 2: About */

.about-container  p:hover, th:hover, td:hover {
    color: #FFC93C;
}

.about-container {
    background-color: #DAE1E7;
    padding: 7% 15%;

}
.sahalpng {
    width: 30%;
    margin-bottom: 3%;
    }

.about-description {
    color: #142850;
    margin: 0 15%;
}

.innerabout {
    margin: 1% 15%; 
}

.table-education {
    text-align: left;
    margin: auto;
    justify-content: space-around;
}

.table-education th {
    text-align: center;
    margin: auto;
}

.education {
    padding: 30px 30px;

}







/* Section 3: Skills */

#Skills {
    margin: auto;
    background-color: #142850;
    padding: 3% 7%;

}

.skill-row p:hover,
h3:hover, h2:hover {
    color: #FFC93C;
}

.skill-row {
    margin: 50px auto 100px auto;
    width: 50%;
    padding: 3% 7%;
}

.skills-1 {
    padding: 0 0 3%;
}

.skills-2{
    padding: 0 0 0;

}

.skills-heading-top{
    color: #DAE1E7;
    font-size: 3rem;
    margin: 0;
}
.skills-heading {
    color: #DAE1E7;
    text-align: left;
    font-size: 1.8rem;
}

.skills-describe {
    color: #DAE1E7;
    text-align: left;
    font: 1rem ;
}



.vector3 {
    width: 40%;
    margin-left: 30px;
    float: right;
    position: relative;
}

.vector4 {
    width: 50%;
    float: left;
    padding-bottom: 3%;
    margin-right: 30px;
    position: relative;
}







/* Section 4: CTA */

#CTA {
    background-color: #DAE1E7;
    padding: 4% 15% 0.5%;
    margin: auto;

}

.bottom-container {
    padding: 3% 15% 0%;

}

.links {
    font-size: 1.2rem;
    text-decoration: none;
}

.credit {
    color: #142850;
}