* {
    scroll-behavior: smooth;
    
}

body     {
    text-align: center;
    margin: 0;
    font-family:  'Poppins', sans-serif;

}

/* Navbar */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0; 
    font-family: 'Poppins', sans-serif;;
    height: 75px;
    /* background-color: #DAE1E7;  */
    backdrop-filter: blur( 25.0px );
    -webkit-backdrop-filter: blur( 25.0px );
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 15%);
     text-align: center;





    /* background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18); */
    padding: 0 15%;  
}

nav .logo {
    float: left;
    width: 30%;
    height:100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #2C3639;
}

nav .logo .nav-title a{
    text-align: center;
    align-items: center;
    margin: 0 30px;
    text-decoration: none;
    color: #2C3639;
}



nav .links {
    display: flex;
    float: right;
    padding: 0;
    margin: 0;
    left: 3%;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}

nav .links a:hover {
    background-color: #FFC93C;
    transform: translateZ(-20px);
    transform: translateX(20px);
}



nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #2C3639;
    /* background-color: rgba(0, 0, 0, .1); */
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #2C3639;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px){
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transform: all .5% ease-in-out ;
        justify-content: space-evenly;
    }

    nav .links a{
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translate(10px) rotate(225deg);
        
    }
     nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translate(10px) rotate(-225deg);
        
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
        
    }

  
}


/* Section 1: Home */
.clock {
    width: 8%;
    position: relative;
    right: 500px;
    top: 20px;
}

.top-container  h1:hover  {
    color: #FFC93C;
    position: relative;
}

.heading-font{
    color: black;
    padding-bottom: 0;
    font-size: 3rem;
    margin-bottom: 0;
    font-family: 'merriweather', sans-serif;
}

.hat{
    width: 8%;
    position: relative;
    left: 300px;
    top: 50px;
    z-index: 0;
}

.heading-describe {
    margin-bottom: auto;
    padding-bottom: 3.5rem;
    color: #2C3639;
    font: 'Poppins';
    font-weight: lighter;
}


.vector1 {
    position: relative;
    display: flex;
    margin: auto;
    width: 30%;
}

p {
    color: #2C3639;
    
}

.top-container{
    position: relative;
    padding-top: 20px;
    background-color: #FAEEE0;
}



/* Section 2: About */

.about-container  p:hover, th:hover, td:hover {
    color: #FFC93C;
}

.about-container {
    background-color: #FAEEE0;
    padding: 7% 15%;

}
.sahalpng {
    width: 30%;
    margin-bottom: 3%;
    }

.about-description {
    color: #2C3639;
    margin: 0 15%;
}

.innerabout {
    margin: 1% 15%; 
}

.table-education {
    text-align: left;
    margin: auto;
    justify-content: space-around;
}

.table-education th {
    text-align: center;
    margin: auto;
}

.education {
    padding: 30px 30px;

}







/* Section 3: Skills */

#Skills {
    margin: auto;
    background-color: #FAEEE0;
    padding: 0% 15%;
    
}



.skill-row p:hover,
h3:hover, h2:hover {
    color: #FFC93C;
}

.skill-row {
    margin: 50px auto 100px auto;
    width: 50%;
    padding: 0% 7%;
}

.skills-1 {
    padding: 0 0 3%;
}

.skills-2{
    padding: 0 0 0;

}

.skills-heading-top{
    color: #2C3639;
    font-size: 3rem;
    margin: 0;
}
.skills-heading {
    color: #2C3639;
    text-align: left;
    font-size: 1.8rem;
}

.skills-describe {
    color: #2C3639;
    text-align: left;
    font: 1rem ;
}



.vector3 {
    width: 40%;
    margin-left: 30px;
    float: right;
    position: relative;
}

.vector4 {
    width: 50%;
    float: left;
    padding-bottom: 3%;
    margin-right: 30px;
    position: relative;
}

/* Section 4: Tools */
#Tools {
    background-color: #FAEEE0;
    padding: 3% 15%;
}



#Tools h1 {
    font-size: 3rem;
    color: #2C3639;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px;

}

.container .card {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: 0px 5px 22px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 5px 22px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 22px -8px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    margin: 30px;
}


.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #DAE1E7; */
    background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.1) ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container .card:hover .box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-50px);
background: hsla(211, 96%, 62%, 1);

    background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1);
}



.container .card .box .content {
    padding: 20px;
    text-align: center;
    
}

.container .card .box .content h2 {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0,0.02);
    transition: 0.5s;
}

.container .card:hover .box .content h2 {
    color: rgba(0, 0, 0,0.05);


}

.container .card .box .content h3 {
    color: #2C3639;
    z-index: 1;
    font-size: 1.8em;
    transition: 0.5s;
}

.container .card:hover .box .content h3, .container .card:hover .box .content p {
    color: #DAE1E7;
}


.container .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}



/* Section 5: CTA */

#CTA {

    background-color: #FAEEE0;
    padding: 3% 7%;
}


.bottom-container {
    padding: 3% 15%;

}

.links {
    font-size: 1.2rem;
    text-decoration: none;
}

.credit {
    color: #2C3639;
}