* {
    text-align: center;
}


/* Section 1: Home */


p {
    color: aquamarine;
}

.top-container{
    position: relative;
    padding-top: 150px;
 
}

/* Section 2: About */
.sahalpng {
    width: 20%;
    }



/* Section 3: Project */

/* Section 4: CTA */