body     {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Section 1: Home */

.clock {
    width: 8%;
    position: relative;
    right: 500px;
    top: 20px;
}

.top-container h1:hover {
    color: #FFC93C;
}

.heading-font{
    color: white;
    padding-bottom: 0;
    font-size: 3rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.hat{
    width: 8%;
    position: relative;
    left: 300px;
    top: 50px;
}

.heading-describe {
    margin-bottom: auto;
    padding-bottom: 3.5rem;
}


.vector1 {
    text-align: center;
    position: relative;
    left: 60px;
    width: 30%;
}

p {
    color: white;
    
}

.top-container{
    position: relative;
    padding-top: 20px;
    background-color: #142850;
    margin: 0;

 
}



/* Section 2: About */
.sahalpng {
    width: 20%;
    }



/* Section 3: Project */

/* Section 4: CTA */